<ion-content>

  <div id="header">
    <!-- <img src="assets/imgs/logo.png" /> -->
  </div>
  <div padding>
    <h1>Anmeldung</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="login()">
    <div padding>
      <ion-list>
        <ion-item>
          <ion-label fixed>Portal:</ion-label>
          <ion-input [(ngModel)]="loginData.portal" [formControl]="portal" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Email:</ion-label>
          <ion-input [(ngModel)]="loginData.email" [formControl]="email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Passwort:</ion-label>
          <ion-input [(ngModel)]="loginData.password" [formControl]="password" type="password"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div padding>
      <button [disabled]="!form.valid || working" type="submit" block icon-left ion-button>
        <ion-icon (click)="login()" name="log-in"></ion-icon> Starten
      </button>
    </div>
  </form>
  <div *ngIf="working" class="center">
    <ion-spinner name="circles"></ion-spinner>
  </div>
</ion-content>