<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let movie of movies?.results" (click)="itemTapped($event, item)">
      <ion-thumbnail item-start>
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
      </ion-thumbnail>
      {{movie.title}}
    </button>
  </ion-list>
</ion-content>
