// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.split-pane-visible ion-menu{
    max-width:100px !important;
}


button.active{
    background-color: #E0E0E0 !important;
}

ion-list.bottom{
    position:absolute;
    bottom:0;
    width:100%;
}

.center{
    text-align: center;
    vertical-align: middle;
}

ion-menu ion-item-divider{
    background-color: #008136 !important;
    color: #F0F0F0 !important;
    font-size: 16px !important;
}

// Formatierung Input-Felder

ion-input, ion-select, ion-datetime, ion-textarea{
    background-color:#F5F5F5;
}