<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="{{headPage.cssClass}}" *ngFor="let headPage of pages">
      <!-- <div *ngIf="headPage.visible"> -->
        <ion-item-divider class="center" *ngIf="headPage.title">
          {{headPage.title}}
        </ion-item-divider>
        <button [ngClass]="p.color" *ngFor="let p of headPage.elements" [hidden]="!p.access" menuClose ion-item (click)="openPage(p)"> <!-- [hidden]="!p.access" -->
          <ion-icon name="{{p.icon}}" item-start></ion-icon>
          {{p.title}}
        </button>
      <!-- </div> -->
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>